body {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
    font-weight: 300;
    background: url("../images/work-room.png");
    background-size: cover;
  }

  #jumbo {
    color: rgb(46, 245, 255);
    background: url("../images/all-stars-blue.png");
    background-size: cover;
    border-width: 10px;
    border-color: black;
    border-style: solid;
  }

  h1, h2, p {
    color: #5ad2fe;
    text-align: center;
    background:rgba(254, 90, 210,.4);
    margin: auto;
    width:max-content; 
    padding: 10px;
  }
  form {
    text-align: center;
  }
  
  #wordbox {
      /*opacity: 0;*/
      margin: auto;
      display: block;
      width: max-content;
      min-width: 400px;
      height: 50px;
      font-size: 30px;
      text-align: center;
      background: white;
      border-radius: 6px;
      transition: 1s linear;
      color: #fe5ad2;
      background-color: #5ad2fe;
    }

    #button {
      background: #68529b;
      border: none;
      border-radius: 12px;
      padding: 0;
      cursor: pointer;
      outline-offset: 4px;
      font-family: Verdana, Geneva, sans-serif;
      width:max-content;
      margin-left: auto;
      margin-right: auto;
    }
    #label {
      display: block;
      width:max-content; 
      padding: 12px 42px;
      border-radius: 12px;
      font-size: 36px;
      background:  #fe5ad2;
      color: #5ad2fe;
      transform: translateY(-6px);
          }
    
    #button:active .front {
      transform: translateY(-2px);
    }

    #button:focus:not(:focus-visible) {
      outline: none;
    }
    